.mobile_cart {
  width: 0%;
  padding: 0%;
  height: 100%;
  position: absolute;
  transition-duration: 0.3s;
  left: 110%;
  top: 0px;
  opacity: 0.5;
}

.cart_active {
  opacity: 1;
  padding: 5%;
  width: 95%;
  transform: translate(-110%, 0%);
}
